@import url("https://fonts.googleapis.com/css?family=Junge");
@import url("//hello.myfonts.net/count/3735fe");
@font-face {
  font-family: 'GillSansMTPro-Book';
  src: url("style/webfonts/3735FE_0_0.eot");
  src: url("style/webfonts/3735FE_0_0.eot?#iefix") format("embedded-opentype"), url("style/webfonts/3735FE_0_0.woff2") format("woff2"), url("style/webfonts/3735FE_0_0.woff") format("woff"), url("style/webfonts/3735FE_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'GillSansMTPro-Bold';
  src: url("style/webfonts/3735FE_1_0.eot");
  src: url("style/webfonts/3735FE_1_0.eot?#iefix") format("embedded-opentype"), url("style/webfonts/3735FE_1_0.woff2") format("woff2"), url("style/webfonts/3735FE_1_0.woff") format("woff"), url("style/webfonts/3735FE_1_0.ttf") format("truetype"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#wpadminbar {
  display: none !important; }

body {
  font-family: 'Junge', serif;
  color: #333; }

h1 {
  font-family: 'Junge', serif;
  font-size: 33px; }
  @media all and (min-width: 61.25em) {
    h1 {
      font-size: 42px; } }

p {
  font-family: 'GillSansMTPro-Book';
  font-size: 18px; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid; }

.desktop {
  display: none; }
  @media all and (min-width: 61.25em) {
    .desktop {
      display: block; } }

.mobile {
  display: block; }
  @media all and (min-width: 61.25em) {
    .mobile {
      display: none; } }

.bp-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  @media all and (min-width: 61.25em) {
    .bp-wrapper {
      width: 980px; } }
  @media all and (min-width: 81.25em) {
    .bp-wrapper {
      width: 1300px; } }
  .bp-wrapper:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #C7C6BD;
    content: '';
    display: none; }
    @media all and (min-width: 61.25em) {
      .bp-wrapper:before {
        display: block; } }

.bp-header {
  height: 198px;
  background-color: #f0efe5;
  padding-top: 14px; }
  .bp-header .bp-wrapper {
    height: 198px; }
    .bp-header .bp-wrapper:before {
      margin-top: -14px; }

.bp-logo {
  width: 196px;
  height: 44px;
  float: left;
  position: relative;
  z-index: 120;
  margin-left: 14px; }
  .bp-logo svg {
    width: 100%;
    height: auto;
    display: block; }

.bp-menu-button {
  font-family: "GillSansMTPro-Book", sans-serif;
  border: 1px solid;
  float: right;
  padding: 8px;
  position: relative;
  z-index: 110; }
  .bp-menu-button:hover {
    background-color: #333;
    color: #fff; }
  .bp-menu-button:active {
    background-color: #0046ca; }

.bp-mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e5ecf9;
  z-index: 100; }
  .bp-mobile-menu.display {
    display: block; }
  .bp-mobile-menu .menu-site-menu-container ul {
    margin-top: 70px;
    margin-left: 14px; }
  .bp-mobile-menu .menu-site-menu-container li {
    font-family: "GillSansMTPro-Book", sans-serif;
    font-size: 60px; }

.bp-menu-links.desktop {
  width: 644px;
  margin-left: auto; }
  .bp-menu-links.desktop ul {
    display: flex;
    justify-content: space-between; }
    .bp-menu-links.desktop ul li {
      font-family: "GillSansMTPro-Book", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px; }

.bp-home-blocks {
  margin-top: -100px; }

.bp-home-block {
  padding-bottom: 28px;
  padding-top: 28px; }

.bp-grand-cta {
  font-family: "GillSansMTPro-Book", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid;
  padding: 6px;
  font-size: 15px;
  color: inherit;
  display: inline-block; }

.bp-grand-image {
  position: relative;
  height: 73vh;
  background-color: #000; }
  @media all and (min-width: 61.25em) {
    .bp-grand-image {
      overflow: hidden;
      height: 650px; } }
  .bp-grand-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8; }
  .bp-grand-image h1 {
    top: 42px;
    margin: auto; }
    @media all and (min-width: 61.25em) {
      .bp-grand-image h1 {
        top: 50%;
        bottom: 50%; } }
  .bp-grand-image a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20; }
  .bp-grand-image .bp-grand-cta {
    bottom: 42px; }
    @media all and (min-width: 61.25em) {
      .bp-grand-image .bp-grand-cta {
        bottom: 30%; } }
    .bp-grand-image .bp-grand-cta:hover {
      background-color: #fff;
      color: #32312a; }
  .bp-grand-image h1, .bp-grand-image .bp-grand-cta {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-family: "GillSansMTPro-Book", sans-serif;
    margin-left: 20px; }
    @media all and (min-width: 61.25em) {
      .bp-grand-image h1, .bp-grand-image .bp-grand-cta {
        margin-left: 8%; } }
    @media all and (min-width: 81.25em) {
      .bp-grand-image h1, .bp-grand-image .bp-grand-cta {
        margin-left: 10%; } }

@media all and (min-width: 61.25em) {
  .bp-upright {
    display: flex;
    flex-direction: row; } }

.bp-upright h1 {
  margin-bottom: 28px; }

.bp-upright .bp-upright-left {
  flex-basis: 50%; }
  @media all and (min-width: 61.25em) {
    .bp-upright .bp-upright-left {
      flex-basis: 34%;
      padding-left: 8%;
      padding-top: 5%;
      padding-right: 10%; } }
  @media all and (min-width: 81.25em) {
    .bp-upright .bp-upright-left {
      flex-basis: 30%;
      padding-top: 10%;
      padding-left: 10%; } }
  .bp-upright .bp-upright-left .bp-upright-copy {
    font-family: "GillSansMTPro-Book", sans-serif;
    font-size: 18px;
    line-height: 21px; }

.bp-upright .bp-upright-right {
  flex-basis: 50%; }
  @media all and (min-width: 61.25em) {
    .bp-upright .bp-upright-right {
      display: flex; } }
  @media all and (min-width: 61.25em) {
    .bp-upright .bp-upright-right .bp-right-left {
      flex-basis: 50%; } }
  .bp-upright .bp-upright-right .bp-right-right {
    background-color: #32312a;
    position: relative; }
    @media all and (min-width: 61.25em) {
      .bp-upright .bp-upright-right .bp-right-right {
        flex-basis: 50%; } }
    .bp-upright .bp-upright-right .bp-right-right .bp-grand-cta {
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0); }

.bp-upright .bp-upright-copy {
  margin-bottom: 28px; }

@media all and (max-width: 46.24em) {
  .bp-upright .bp-small-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }

.bp-upright .bp-small-block-copy {
  flex-basis: 50%;
  height: 210px;
  background-color: #e5ecf9;
  color: #32312a;
  position: relative; }
  @media all and (min-width: 61.25em) {
    .bp-upright .bp-small-block-copy {
      flex-basis: 100%; } }
  .bp-upright .bp-small-block-copy.mobile, .bp-upright .bp-small-block-copy.desktop {
    background-color: #32312a; }
    .bp-upright .bp-small-block-copy.mobile .bp-grand-cta, .bp-upright .bp-small-block-copy.desktop .bp-grand-cta {
      color: #fff; }
  .bp-upright .bp-small-block-copy .bp-grand-cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0); }

.bp-upright .bp-small-block-image {
  width: 100%; }
  .bp-upright .bp-small-block-image img {
    width: 100%;
    height: auto;
    display: block; }

.bp-upright .bp-tall-block-copy a, .bp-upright .bp-small-block-copy a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20; }

.bp-news-container {
  color: #fff; }
  @media all and (min-width: 61.25em) {
    .bp-news-container {
      overflow: hidden; } }
  .bp-news-container .bp-wrapper {
    background-color: #0046ca; }
    @media all and (min-width: 61.25em) {
      .bp-news-container .bp-wrapper {
        overflow: hidden; } }
    .bp-news-container .bp-wrapper:before {
      width: 100%;
      height: 28px;
      display: block;
      content: '';
      position: relative;
      border-left: 1px solid #c7c6bd;
      background-color: white;
      bottom: 0; }
    .bp-news-container .bp-wrapper:after {
      width: 100%;
      height: 56px;
      display: block;
      content: '';
      position: relative;
      border-left: 1px solid #c7c6bd;
      background-color: white;
      bottom: 0; }
  .bp-news-container h3 {
    font-family: "GillSansMTPro-Book", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 42px;
    display: inline-block; }
    @media all and (min-width: 61.25em) {
      .bp-news-container h3 {
        margin-bottom: 84px;
        margin-left: 14px; } }
    @media all and (min-width: 81.25em) {
      .bp-news-container h3 {
        margin-left: 10%; } }
  @media all and (min-width: 61.25em) {
    .bp-news-container .bp-news-wrapper {
      float: left;
      width: 20%;
      margin-right: 2%;
      padding-bottom: 112px;
      border-left: 1px solid #fff;
      padding-left: 14px; } }
  .bp-news-container .bp-news-wrapper .bp-news-title {
    font-size: 24px;
    font-family: "GillSansMTPro-Book", sans-serif;
    margin-bottom: 14px; }
  .bp-news-container .bp-news-wrapper .bp-news-description {
    margin-bottom: 28px; }
    .bp-news-container .bp-news-wrapper .bp-news-description p {
      font-family: "Junge", serif;
      font-size: 15px;
      line-height: 18px; }
    @media all and (min-width: 61.25em) {
      .bp-news-container .bp-news-wrapper .bp-news-description {
        margin-bottom: 0; } }
  .bp-news-container .bp-news-wrapper .bp-news-image {
    display: none; }
    .bp-news-container .bp-news-wrapper .bp-news-image img {
      width: 100%;
      height: auto;
      display: block;
      margin-top: 10px;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      mix-blend-mode: screen; }
  .bp-news-container .bp-news-wrapper:nth-child(2) .bp-news-image {
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: auto; }
    @media all and (min-width: 61.25em) {
      .bp-news-container .bp-news-wrapper:nth-child(2) .bp-news-image {
        position: absolute;
        width: auto;
        top: 42px; } }

@media all and (min-width: 61.25em) {
  .bp-news-wrapper-outer {
    overflow: hidden; } }

@media all and (min-width: 81.25em) {
  .bp-news-wrapper-outer {
    padding-left: 10%; } }

.bp-piano-filters {
  position: absolute;
  bottom: 14px;
  overflow: hidden;
  width: 99%; }
  @media all and (min-width: 61.25em) {
    .bp-piano-filters {
      margin-left: 14px;
      display: flex; } }
  .bp-piano-filters .bp-piano-categories, .bp-piano-filters .bp-piano-tag {
    width: 100%; }
    @media all and (min-width: 61.25em) {
      .bp-piano-filters .bp-piano-categories, .bp-piano-filters .bp-piano-tag {
        width: 50%;
        float: left; } }
  .bp-piano-filters h1 {
    margin-bottom: 14px;
    font-family: "GillSansMTPro-Book", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; }
  .bp-piano-filters ul {
    overflow: hidden; }
    .bp-piano-filters ul li {
      font-family: "GillSansMTPro-Book", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      float: left;
      margin-right: 14px;
      font-size: 12px; }
      .bp-piano-filters ul li:hover {
        color: #0046ca; }

.bp-products-container {
  position: relative; }
  .bp-products-container:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    left: 50%;
    background-color: #f0efe5;
    content: '';
    z-index: -1; }

.bp-piano-category {
  background-color: #f0efe5;
  overflow: hidden;
  padding-left: 14px;
  padding-bottom: 14px;
  padding-top: 14px; }
  .bp-piano-category:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f0efe5;
    content: '';
    display: block; }

.bp-piano-category-title {
  float: left; }
  @media all and (min-width: 61.25em) {
    .bp-piano-category-title {
      width: 362px; } }
  @media all and (min-width: 81.25em) {
    .bp-piano-category-title {
      width: 644px; } }

.bp-piano-description {
  float: left; }
  @media all and (min-width: 61.25em) {
    .bp-piano-description {
      width: 70%; } }
  @media all and (min-width: 81.25em) {
    .bp-piano-description {
      width: 550px; } }
  @media all and (min-width: 61.25em) {
    .bp-piano-description p {
      width: 362px; } }

.bp-piano-inner {
  padding-bottom: 14px; }
  @media all and (min-width: 61.25em) {
    .bp-piano-inner {
      margin-left: 48px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; } }

#bp-piano-wrapper {
  width: 100%;
  position: relative; }
  @media all and (min-width: 61.25em) {
    #bp-piano-wrapper {
      width: 268px;
      margin-right: 22px;
      padding-left: 14px;
      padding-top: 28px;
      padding-bottom: 14px;
      position: relative; }
      #bp-piano-wrapper:after {
        position: absolute;
        content: '';
        background-color: #ececec;
        bottom: 0;
        display: block;
        left: -48px;
        right: -25px;
        height: 1px; } }
  #bp-piano-wrapper a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    #bp-piano-wrapper a:hover {
      border: none; }
  #bp-piano-wrapper .bp-piano-image {
    width: 100%;
    margin-bottom: 14px; }
    #bp-piano-wrapper .bp-piano-image img {
      width: 100%;
      display: block;
      height: auto; }
  #bp-piano-wrapper h1, #bp-piano-wrapper h2 {
    font-size: 15px;
    font-family: "GillSansMTPro-Book", sans-serif; }
  #bp-piano-wrapper h1 {
    font-family: "GillSansMTPro-Bold", sans-serif; }

.bp-page-image {
  height: 300px;
  width: 100%;
  margin-top: -100px; }
  .bp-page-image img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.bp-page-content, .bp-page-blocks {
  width: 100%; }
  @media all and (min-width: 61.25em) {
    .bp-page-content, .bp-page-blocks {
      width: 600px;
      margin-left: 80px; } }
  .bp-page-content h1, .bp-page-blocks h1 {
    margin-bottom: 14px;
    margin-top: 14px; }
  .bp-page-content p, .bp-page-blocks p {
    margin-bottom: 14px; }
  .bp-page-content img, .bp-page-blocks img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 14px;
    margin-bottom: 14px; }

.bp-single-head {
  background-color: #f0efe5;
  padding-top: 14px;
  padding-bottom: 28px; }
  @media all and (min-width: 61.25em) {
    .bp-single-head {
      overflow: hidden;
      margin-top: -150px; } }
  .bp-single-head .bp-wrapper {
    overflow: hidden; }

.bp-single-description h1 {
  font-family: "GillSansMTPro-Book", sans-serif;
  font-size: 37.8px; }
  @media all and (min-width: 61.25em) {
    .bp-single-description h1 {
      font-size: 46.2px; } }

.bp-single-description h2 {
  font-family: "Junge", serif;
  font-size: 33px;
  margin-bottom: 28px; }
  @media all and (min-width: 61.25em) {
    .bp-single-description h2 {
      font-size: 42px; } }

@media all and (min-width: 61.25em) {
  .bp-single-description {
    float: left;
    width: 420px;
    margin-top: 170px; } }

@media all and (min-width: 81.25em) {
  .bp-single-description {
    margin-left: 174px; } }

.bp-cta {
  font-family: "GillSansMTPro-Book", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  border: 1px solid;
  padding: 6px;
  margin-top: 60px;
  display: inline-block; }

.bp-more-information {
  padding-top: 14px;
  padding-bottom: 28px; }
  @media all and (min-width: 61.25em) {
    .bp-more-information {
      overflow: hidden; } }
  @media all and (min-width: 61.25em) {
    .bp-more-information .bp-wrapper {
      overflow: hidden; } }
  @media all and (min-width: 81.25em) {
    .bp-more-information .bp-colours {
      margin-left: 174px; } }
  .bp-more-information .bp-colour-all {
    display: flex;
    margin-top: 28px;
    flex-wrap: wrap;
    justify-content: flex-start; }
    @media all and (min-width: 61.25em) {
      .bp-more-information .bp-colour-all {
        justify-content: space-between; } }
  .bp-more-information .bp-colour {
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 2px;
    margin-bottom: 2px; }
    @media all and (min-width: 81.25em) {
      .bp-more-information .bp-colour {
        width: 50px;
        height: 50px; } }

.bp-single-image img {
  width: 100%;
  height: auto;
  display: block; }

@media all and (min-width: 61.25em) {
  .bp-single-image {
    float: right;
    width: 500px; } }

@media all and (min-width: 81.25em) {
  .bp-single-image {
    width: 600px; } }

@media all and (min-width: 61.25em) {
  .bp-more-deatails, .bp-more-size {
    float: left;
    width: 30%; } }

@media all and (min-width: 81.25em) {
  .bp-more-deatails {
    margin-left: 174px; } }

.bp-more-deatails h3 {
  font-family: "GillSansMTPro-Book", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 28px; }

.bp-more-deatails p {
  font-size: 18px; }

.bp-more-size h3 {
  font-family: "GillSansMTPro-Book", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 28px; }

.bp-more-size p {
  font-size: 18px; }

.bp-single-lower-module {
  background-color: #f0efe5;
  padding-top: 14px;
  padding-bottom: 28px; }
  .bp-single-lower-module h1 {
    margin-bottom: 28px; }
  .bp-single-lower-module p {
    margin-bottom: 14px; }
  @media all and (min-width: 61.25em) {
    .bp-single-lower-module {
      overflow: hidden; } }
  @media all and (min-width: 61.25em) {
    .bp-single-lower-module .bp-wrapper {
      overflow: hidden; } }

@media all and (min-width: 61.25em) {
  .bp-single-lower-module-image, .bp-single-bottom-module-image {
    float: right;
    width: 500px; } }

@media all and (min-width: 81.25em) {
  .bp-single-lower-module-image, .bp-single-bottom-module-image {
    width: 600px; } }

.bp-single-lower-module-image img, .bp-single-bottom-module-image img {
  width: 100%;
  height: auto;
  display: block; }

@media all and (min-width: 61.25em) {
  .bp-single-lower-module-description, .bp-single-bottom-module-description {
    float: left;
    margin-top: 100px;
    width: 420px; } }

@media all and (min-width: 81.25em) {
  .bp-single-lower-module-description, .bp-single-bottom-module-description {
    margin-left: 174px; } }

.bp-single-bottom-module {
  padding-top: 14px;
  padding-bottom: 28px; }
  .bp-single-bottom-module h1 {
    margin-bottom: 28px; }
  .bp-single-bottom-module p {
    margin-bottom: 14px; }
  @media all and (min-width: 61.25em) {
    .bp-single-bottom-module {
      overflow: hidden; } }
  @media all and (min-width: 61.25em) {
    .bp-single-bottom-module .bp-wrapper {
      overflow: hidden; } }

.bp-col {
  font-family: "GillSansMTPro-Book", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  max-width: 90%; }
  @media all and (min-width: 61.25em) {
    .bp-col {
      float: left;
      width: 362px; } }

.bp-address {
  margin-left: 14px;
  margin-top: 14px; }

.bp-opening-times {
  margin-left: 14px;
  margin-top: 14px; }
  @media all and (min-width: 61.25em) {
    .bp-opening-times {
      margin-top: 60px; } }

.bp-footer {
  background-color: #f0efe5;
  overflow: hidden; }
  .bp-footer .bp-wrapper {
    overflow: hidden;
    padding-top: 14px;
    padding-bottom: 14px; }
  .bp-footer .bp-logo {
    float: none; }
